@import './_setting.scss';

.board-content {
    display   : flex;
    height    : $board-content-height;
    overflow-x: auto;
    overflow-y: hidden;

    &:after {
        content: "";
        flex   : 0 0 $gap;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $common-element-bg;
        border-radius   : 8px;
    }

    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border          : 1px dashed #abc;
        margin          : 5px 45px 5px 5px;
    }

    .add-new-column {
        width           : 250px;
        max-width       : 250px;
        line-height     : 32px;
        padding         : 4px 15px;
        cursor          : pointer;
        color           : #fff;
        margin-left     : $gap;
        font-size       : 15px;
        background-color: hsla(0, 0%, 100%, .24);
        border-radius   : $column-border-radius;

        &:hover {
            background-color: hsla(0, 0%, 100%, .34);
        }
    }

    .enter-new-column {
        width           : 250px;
        max-width       : 250px;
        background-color: $column-bg-color;
        line-height     : 32px;
        border-radius   : $column-border-radius;
        margin-left     : $gap;
        padding         : 4px 10px;

        input.input-enter-new-column {
            margin   : 4px 0;
            font-size: 16px;
        }

        .add-new-column-btn {
            font-size: 16px;
        }
    }

    // .column-drop-preview {
    //     background-color: rgba(0, 0, 0, 0.2);
    //     margin          : 0 0 0 $gap;
    //     border          : none;
    //     border-radius   : 4px;
    // }

    .column-drop-preview {
        background-color: transparent;
        border:none;
    }
}